@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-primary: #8CC63F;
  --color-primary-content: #111111;

  --color-secondary: #f43f5e;
  --color-accent: #fbbf24;
  --color-neutral: #3d4451;

  /* ⬇️ Match DaisyUI dark theme background */
  --color-base-100: #000000;
  --color-base-content: #d1d5db;

  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;

  --radius-box: 0.5rem;
  --border: 1px;
}
